<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Automobiles</title>
    <script src="https://kit.fontawesome.com/1007ef5f63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <section id="header">
        <a href="/"><img src="/assets/img/logo.png" class="logo" alt="" height="75px" width="125px"></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/route/shop">Shop</a></li>            
                <li><a href="/route/service">Service</a></li>
                <li><a class="active" href="#">About</a></li>
                <li><a href="/route/contact">Contact</a></li>
                <li><a href="/route/profile"><i class="fa-solid fa-user"></i></a></li>
                <li id="bag"><a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>   
    </section>

    <section id="about-banner">
        <h1>Know Us</h1>
        <h2>SP AUTOMOBILES - Reliable and Cost-effective</h2>
    </section>

    <section id="about-info" class="section-p1">
        <img src="/assets/img/about/team.jpg" alt="">
        <div>
            <p id="info1">A Place where you get every solution for your two wheeler. We are dedicated for our work and Motorcycle Repairing and Servicing are our expertise. We have professionals working with us for almost 20 years now. About 10-15 Mechanics works here all the time. Making your stopped vehicle run and running vehicle smooth is our specialty.</p>
            <p id="info1">Everyone say they are best in the business but one time visit will not be a big deal. Like it says we all listen to "Pehle istmal kre Fir Vishwas Kare". Once you are at Two Wheeler Workshop you just have leave your vehicle and we will take care of it. You will get everything related to your Two Wheeler. Trust is the only this that we need and we work in that manner.</p>
            <p id="info1">We offer Spare Parts for Bajaj, TVS, KTM, Yamaha, Suzuki, Honda, Hero. Most Activa, Jupiter have the most no. scooters on Delhi Roads. We have complete solution for Activa Servicing and Repairing.</p>
        </div>
    </section>

    <h2 id="about-head">OWNERS</h2>

    <section id="owners-info" class="section-p1">
        <div class="own">
            <img src="/assets/img/about/a1.jpg" alt="" height="250px" width="250px">
            <h4>Pawan Kumar Sharma</h4>
        </div>

        <div class="own">
            <img src="/assets/img/about/a2.jpg" alt="" height="250px" width="250px">
            <h4>Sanjay Kumar Sharma</h4>
        </div>

        <div class="own">
            <img src="/assets/img/about/a3.jpg" alt="" height="250px" width="250px">
            <h4>Rishabh Sharma</h4>
        </div>
    </section>

    
    <%- include('footer') -%>


    <script src="/static/script.js"></script>
</body>
</html>