<footer class="section-p1">
    <div class="column">
        <img class="logo1" src="/assets/img/logo.png" alt="" height="81px" width="135px">
        <h4>Contact</h4>
        <p><strong>Address: </strong> Shop No.35, B-Block D.D.A. Market Opp. Indira Gandhi Sport College,<br>Vikaspuri, New Delhi, Delhi 110018</p>
        <p><strong>Phone: </strong> +91-8860264873 , +91-9213200622</p>
        <p><strong>Hours: </strong> 9:30 - 7:00, Closed on Wednesday</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-square-twitter"></i>
            </div>
        </div>
    </div>

    <div class="column">
        <h4>About</h4>
        <a href="/route/about">About us</a>
        <a href="/route/privacy">Privacy Policy</a>
        <a href="/route/terms">Terms & Conditions</a>
        <a href="/route/contact">Contact us</a>
    </div>

    <div class="column">
        <h4>My Account</h4>
        <a href="/route/profile">My Profile</a>
        <a href="/route/cart">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">My Orders</a>
    </div>

    <div class="columnInstall">
        <h4>Install App</h4>
        <p>From Google Play Store or App Store</p>
        <div class="rowIcon">
            <img src="/assets/img/appStore.png" alt="" height="70px" width="160px">
            <img src="/assets/img/playStore.png" alt="" height="70px" width="160px">
        </div>
        <p>Secured Payment Gateway</p>
        <img class="gateway" src="/assets/img/visaMaster.png" alt="" height="55px" width="160px">
    </div>

    <div class="copyright">
        <p><strong>© 2022, Tushar - Simran - Parikshit</strong></p>
    </div>
</footer>