<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Automobiles</title>
    <script src="https://kit.fontawesome.com/1007ef5f63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <section id="header">
        <a href="/"><img src="/assets/img/logo.png" class="logo" alt="" height="75px" width="125px"></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="/route/shop">Shop</a></li>            
                <li><a href="/route/service">Service</a></li>
                <li><a href="/route/about">About</a></li>
                <li><a href="/route/contact">Contact</a></li>
                <li><a href="/route/profile"><i class="fa-solid fa-user"></i></a></li>
                <li id="bag"><a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>   
    </section>

    <section id="hero">
        <h2>Service your Two-Wheeler</h2>
        <h1>Before it's too late</h1>
        <a href="/route/service"><button>Book Your Service</button></a>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/assets/img/features/f1.png" alt="" height="150px" width="150px">
            <h6>Free Shipping</h6>
        </div>

        <div class="fe-box">
            <img src="/assets/img/features/f2.png" alt="" height="150px" width="150px">
            <h6>Online Order</h6>
        </div>

        <div class="fe-box">
            <img src="/assets/img/features/f3.png" alt="" height="150px" width="150px">
            <h6>Save Money</h6>
        </div>

        <div class="fe-box">
            <img src="/assets/img/features/f4.png" alt="" height="150px" width="150px">
            <h6>Services</h6>
        </div>

        <div class="fe-box">
            <img src="/assets/img/features/f5.png" alt="" height="150px" width="150px">
            <h6>Call Support</h6>
        </div>

    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <div class="pro-container">
            <div class="pro" onclick="window.location.href='/route/p1';">
                <img src="/assets/img/products/p1.jpg" alt="">
                <div class="des">
                    <span>Castrol Active</span>
                    <h5>Engine Oil</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹449</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro"  onclick="window.location.href='/route/p7';">
                <img src="/assets/img/products/p7.jpg" alt="">
                <div class="des">
                    <span>Bijjan</span>
                    <h5>Side Luggage Box</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹1099</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro"  onclick="window.location.href='/route/p6';">
                <img src="/assets/img/products/p6.jpg" alt="">
                <div class="des">
                    <span>Amaron</span>
                    <h5>Battery</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹1249</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro"  onclick="window.location.href='/route/p10';">
                <img src="/assets/img/products/p10.jpg" alt="">
                <div class="des">
                    <span>Minda</span>
                    <h5>Elite Horn</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹589</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro"  onclick="window.location.href='/route/p5';">
                <img src="/assets/img/products/p5.jpg" alt="">
                <div class="des">
                    <span>Exide</span>
                    <h5>Battery</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹949</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro"  onclick="window.location.href='/route/p9';">
                <img src="/assets/img/products/p9.jpg" alt="">
                <div class="des">
                    <span>MD</span>
                    <h5>Activa 5G Mudguard</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹649</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro"  onclick="window.location.href='/route/p20';">
                <img src="/assets/img/products/p20.jpg" alt="">
                <div class="des">
                    <span>Bajaj</span>
                    <h5>Chainset</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹1199</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="pro"  onclick="window.location.href='/route/p12';">
                <img src="/assets/img/products/p12.jpg" alt="">
                <div class="des">
                    <span>Steel Bird</span>
                    <h5>Air Helmet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>₹2099</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h3>Original Spare Parts</h3>
        <h4>Extended warranty with SP Automobiles</h4>
    </section>

    <section id="reviews">
        <h2>What Bike Owners In Delhi Says</h2>
        <div class="row">
            <div class="col">
                <h4>A Friendly Experience</h4>
                <p>I got my bike serviced from SP Automobiles. Their entire team was very professional. Their skillful-advisor Tushar Sharma asked me if I had any specific problems with the bike and advised to get replaced worn-off parts with 100% genuine parts. I ended up paying much lesse than what the other service centres usually charge.</p>
            </div>
            <div class="col">
                <h4>Premium yet Affordable</h4>
                <p>SP Automobiles has by far one of the finest bike servicing workshop I have been to in over 4 years. Their work ethics, services, and prices are unmatched. You will pay a reasonable amount and get a team of dedicated professionals who will make every effort to help you out and explain everything that needs to be done. I recommend them to anyone!</p>
            </div>
            <div class="col">
                <h4>Perfect Service</h4>
                <p>SP Automobiles has got experienced technicians. I scheduled a regular service from there website for my car. They also offered free pick-up and drop-with the first service to set me up. SP Automobiles is always my first choice for bike servicing.</p>
            </div>
        </div>
    </section>

    <section id="sm-banner" class="section-p1 section-m1">
        <div class="banner-box">
            <h4>WINTER OFFER</h4>
            <h3><span>20% OFF </span>on all</h3>
            <h3>produts and services</h3>
        </div>

        <div class="banner-box2">
            <h4>BOOM SALE</h4>
            <h3>Use Code: BOOM and Get</h3>
            <h3>Extra <span>35% OFF</span> on purchases above ₹3499</h3>
        </div>
    </section>

    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-mail updates about our latest products and special offers.</p>
        </div>

        <div class="form-section">
            <form class="form" onsubmit="alert('Newsletter Subscribed')" method="post">
                <input type="text" placeholder="Your email address" id="email" name="email">
                <button class="normal">Sign Up</button>
            </form>
        </div>
    </section>

    <%- include('footer') -%>


    <script src="/static/script.js"></script>
</body>
</html>