<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Automobiles</title>
    <script src="https://kit.fontawesome.com/1007ef5f63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <section id="header">
        <a href="/"><img src="/assets/img/logo.png" class="logo" alt="" height="75px" width="125px"></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/route/shop">Shop</a></li>            
                <li><a href="/route/service">Service</a></li>
                <li><a href="/route/about">About</a></li>
                <li><a href="/route/contact">Contact</a></li>
                <li><a href="/route/profile"><i class="fa-solid fa-user"></i></a></li>
                <li id="bag"><a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>   
    </section>

    <section id="productdetails" class="section-p1">
        <div class="single-product-img">
            <img src="/assets/img/products/p10.jpg" alt="" width="100%">
        </div>
        <div class="single-product-details">
            <form action="/addToCart" method="post">
                <h6>Minda</h6>
                <h2>Elite Horn</h2>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>₹589.00</h3>
                <select name="quantity" required>
                    <option selected="true" disabled="disabled" value="">Select Quantity</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>

                <input type="hidden" name="name" value="Minda Elite Horn">
                <input type="hidden" name="price" value="589.00">
                <input type="hidden" name="image" value="p10">

                <button class="normal" type="submit">ADD TO CART</button>
          </form>

          <h4>Product Details</h4>
          <ul>•	Internal Horn</ul>
          <ul>•	Volume 125 dB</ul>
          <ul>•	Frequency Range 510 Hz</ul>
          <ul>•	Sound Type Trumpet</ul>
          <ul>•	Material: Metal</ul>
          <ul>•	Color: black</ul>
       
        </div>
    </section>

    <%- include('footer') -%>


    <script src="/static/script.js"></script>
</body>
</html>