<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SP Automobiles</title>
    <script src="https://kit.fontawesome.com/1007ef5f63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <section id="header">
        <a href="/"><img src="/assets/img/logo.png" class="logo" alt="" height="75px" width="125px"></a>

        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/route/shop">Shop</a></li>            
                <li><a href="/route/service">Service</a></li>
                <li><a href="/route/about">About</a></li>
                <li><a href="/route/contact">Contact</a></li>
                <li><a href="/route/profile"><i class="fa-solid fa-user"></i></a></li>
                <li id="bag"><a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/route/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>   
    </section>

    <section id="productdetails" class="section-p1">
        <div class="single-product-img">
            <img src="/assets/img/products/p7.jpg" alt="" width="100%">
        </div>
        <div class="single-product-details">
            <form action="/addToCart" method="post">
                <h6>Bijjan</h6>
                <h2>Side Storage Box</h2>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h3>₹1099.00</h3>
                <select name="quantity" required>
                    <option selected="true" disabled="disabled" value="">Select Quantity</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>

                <input type="hidden" name="name" value="Bijjan Side Storage Box">
                <input type="hidden" name="price" value="1099.00">
                <input type="hidden" name="image" value="p7">

                <button class="normal" type="submit">ADD TO CART</button>
          </form>
          
          <h4>Product Details</h4>
          <ul>•	All boxes are injection moulded in a combinations of engineering plastics</ul>
          <ul>•	Fitted with six-lever tamper-proof locking system</ul>
          <ul>•	Volumetric Capacity: 15 litres</ul>
          <ul>•	Payload: 10 kg</ul>
          <ul>•	This luggage box is a smart addition to your motorcycle</ul>
       
        </div>
    </section>

    
    <%- include('footer') -%>


    <script src="/static/script.js"></script>
</body>
</html>